<h1>New Product Form</h1>
<p>Find me in app/views/products/new.html.erb</p>

<%= render 'form' %>

<%= link_to 'Back', products_path %>

<!-- cant use URLs in the views so we use the prefix path to link us to the Show All page -->
